<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Root</title>
    <link href='{{url_for("static", filename="css/bootstrap_dark.css")}}' rel="stylesheet">
</head>
<body>
<header>
    <div class="container text-center">
        <div class="col-md-12">
            <h1>Audio translation</h1>
            <p class="lead">Audio!</p>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}

        <div class="alert alert-dismissible fade show alert-{{ category }}"> {{ message }}
            <button class="close" data-dismiss="alert" type="button">&times;</button>
        </div>
        {% endfor %}
        {% endwith %}
    </div>
</header>

<div class="container text-center">
<form action="." enctype=multipart/form-data method="post">
    <label for="audio">Upload recorded audio</label>
    <input accept="audio" class="form-control-file" id="audio"
           name="audio"
           required type="file">

    <button class="btn btn-primary" type="submit">go go go!</button>
</form>
</div>

</body>
</html>