<!DOCTYPE html>
<html lang="en">
<head>
    <link href='{{url_for("static", filename="css/bootstrap_dark.css")}}' rel="stylesheet">
    <meta charset="UTF-8">
    <title>Translate Audio files</title>
</head>
<body>
<header>
    <div class="container text-center">
        <div class="col-md-12">
            <h1>Upload audio</h1>
            <p class="lead">Translate audio!</p>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}

        <div class="alert alert-dismissible fade show alert-{{ category }}"> {{ message }}
            <button class="close" data-dismiss="alert" type="button">&times;</button>
        </div>
        {% endfor %}
        {% endwith %}

    </div>
</header>

<div class="container">
    <div class="row justify-content-center mb-4">

        <div class="col-6 ">

            <h3 class="mb-3">Input the audio file</h3>

            <form action="." class="" enctype="multipart/form-data" method="post">
                <label for="audio_file">Audio file:</label>
                <input id="audio_file" name="audio_file" required type="file">
                <br><br>
                <input type="submit" value="Submit">
            </form>

        </div>
    </div>
    <div class="row ">
        <div class="col">
            <h3>Output from audio</h3>
            <textarea class="form-control" readonly rows="7">{{text}}</textarea>
        </div>

        <div class="col">
            <h3>Translated output</h3>
            <textarea class="form-control" readonly rows="7">{{text_t}}</textarea>
        </div>
    </div>
</div>
</body>
</html>